<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<title>Contact RR Construction</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>


<div class="navbar">

<div class="logo">
RR Construction
</div>


<div>

<a th:href="@{/}">
Home
</a>

<a th:href="@{/contact}">
Contact
</a>

<a th:href="@{/admin/login}">
Admin
</a>


</div>

</div>




<section class="contact-section">


<h1>
Contact Us
</h1>


<p>
Tell us about your construction requirement.
Our team will contact you soon.
</p>



<p class="success"
th:if="${success}"
th:text="${success}">
</p>




<form th:action="@{/saveContact}"
th:object="${contact}"
method="post">



<label>
Name
</label>

<input type="text"
th:field="*{name}"
placeholder="Your Name"
required>



<label>
Email
</label>

<input type="email"
th:field="*{email}"
placeholder="Your Email"
required>



<label>
Message
</label>


<textarea
th:field="*{message}"
placeholder="Your Requirement"
required>
</textarea>



<button>
Send Message
</button>



</form>



</section>



<footer>

© 2026 RR Construction

</footer>


</body>

</html>