<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>View Contacts</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="navbar">

<a th:href="@{/}">Home</a>

<a th:href="@{/contact}">Contact</a>

<a th:href="@{/admin/login}">Admin Login</a>

<a th:href="@{/logout}">Logout</a>
</div>

<h2 align="center">Contact Messages</h2>

<table border="1" align="center">

<tr>

<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Message</th>
<th>Reply</th>
<th>Delete</th>

</tr>

<tr th:each="contact : ${contacts}">
    <td th:text="${contact.id}"></td>
    <td th:text="${contact.name}"></td>
    <td th:text="${contact.email}"></td>
    <td th:text="${contact.message}"></td>

    <td>
    <a th:if="${contact.reply == null or #strings.isEmpty(contact.reply)}"
       th:href="@{/reply/{id}(id=${contact.id})}"
       style="background:#007bff;color:white;padding:6px 12px;text-decoration:none;border-radius:5px;">
        Reply
    </a>

    <span th:if="${contact.reply != null and !#strings.isEmpty(contact.reply)}"
          style="background:green;color:white;padding:6px 12px;border-radius:5px;">
        ✓ Done
    </span>
</td>

    <td>
        <a th:href="@{/delete/{id}(id=${contact.id})}">
            Delete
        </a>
    </td>
</tr>

</table>

</body>

</html>